.center-align {
    text-align: center;
}

.main-grid {
    height: 90vh;
    margin: 20px;
}

.center-panel {
    margin: 20px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.left-section {
    margin: 0 20px;
}

.right-section {
    margin: 0 20px;
}